@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "avenir";
    src: url("./assets/font/avenir.otf");
}

* {
    font-family: "Plus Jakarta Sans", sans-serif;
}